.mudacor{
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 1920px) {
      .mudacor{
        background-color: yellow;   
    } 
.mudacor h1:after {
        content : "PAREDEAMARELA";
    }
}
@media screen and (max-width: 1366px) {
    .mudacor{
        background-color: purple;   
    } 
    .mudacor h1:after {
        content : "ROXASSO";
    }
}


@media screen and (max-width: 1080px) {
    .mudacor{
        background-color: red;   
  } 
.mudacor h1:after {
        content : "MOLHO";
    }
}
@media screen and (max-width: 1024px) {
    .mudacor{
        background-color: MAGENTA;   
  } 
.mudacor h1:after {
        content : "MAGNETO";
    }
}
@media screen and (max-width: 768px) {
    .mudacor{
        background-color: gray;   
  } 
.mudacor h1:after {
        content : "PERDI NO X1";
    }
}
@media screen and (max-width: 420px) {
    .mudacor{
        background-color: orange;   
  } 
.mudacor h1:after {
        content : "Suquinho";
    }
}
